.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
data/tinystories_char/tinystories/TinyStories_all_data.tar.gz
data/tinystories_char/tinystories/data00.json
data/tinystories_char/tinystories/data01.json
data/tinystories_char/tinystories/data02.json
data/tinystories_char/tinystories/data03.json
data/tinystories_char/tinystories/data04.json
data/tinystories_char/tinystories/data05.json
data/tinystories_char/tinystories/data06.json
data/tinystories_char/tinystories/data07.json
data/tinystories_char/tinystories/data08.json
data/tinystories_char/tinystories/data09.json
data/tinystories_char/tinystories/data10.json
data/tinystories_char/tinystories/data11.json
data/tinystories_char/tinystories/data12.json
data/tinystories_char/tinystories/data13.json
data/tinystories_char/tinystories/data14.json
data/tinystories_char/tinystories/data15.json
data/tinystories_char/tinystories/data16.json
data/tinystories_char/tinystories/data17.json
data/tinystories_char/tinystories/data18.json
data/tinystories_char/tinystories/data19.json
data/tinystories_char/tinystories/data20.json
data/tinystories_char/tinystories/data21.json
data/tinystories_char/tinystories/data22.json
data/tinystories_char/tinystories/data23.json
data/tinystories_char/tinystories/data24.json
data/tinystories_char/tinystories/data25.json
data/tinystories_char/tinystories/data26.json
data/tinystories_char/tinystories/data27.json
data/tinystories_char/tinystories/data28.json
data/tinystories_char/tinystories/data29.json
data/tinystories_char/tinystories/data30.json
data/tinystories_char/tinystories/data31.json
data/tinystories_char/tinystories/data32.json
data/tinystories_char/tinystories/data33.json
data/tinystories_char/tinystories/data34.json
data/tinystories_char/tinystories/data35.json
data/tinystories_char/tinystories/data36.json
data/tinystories_char/tinystories/data37.json
data/tinystories_char/tinystories/data38.json
data/tinystories_char/tinystories/data39.json
data/tinystories_char/tinystories/data40.json
data/tinystories_char/tinystories/data41.json
data/tinystories_char/tinystories/data42.json
data/tinystories_char/tinystories/data43.json
data/tinystories_char/tinystories/data44.json
data/tinystories_char/tinystories/data45.json
data/tinystories_char/tinystories/data46.json
data/tinystories_char/tinystories/data47.json
data/tinystories_char/tinystories/data48.json
data/tinystories_char/tinystories/data49.json
data/tinystories_char/tinystories/tinystories_gpt4_clean.parquet
